.annotation-manager-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.33);
    color: white;
    font-size: larger;
}