@import url("global.css");

.task-form {
    position: absolute;
    display: flex;
    background-color: var(--dark-color-1);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}