:root {
    /* Colors */
    --clear-color-1: rgb(235, 236, 226);
    --clear-color-2: #4b6975;
    --clear-color-3: #1f4959;
    --dark-color-1: rgb(25, 25, 25);
    --dark-color-2: #011425;

    /* Fonts */
    --font-color: rgb(235, 236, 226);
    --font-family-1: 'Roboto', sans-serif;
    --font-family-2: 'Montserrat', sans-serif;

    /* Font Sizes */
    --font-size-1: 1rem;
    --font-size-2: 1.2rem;

    /* Border Radia */    
    --border-radius-1: 0.5rem;
    --border-radius-2: 1rem;

    --nav-bar-height: 2.7rem;
}