@import url("global.css");

.ProjectFormContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    left: 0;
    bottom: 0;
}

.ProjectForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: var(--dark-color-1);
}

.FormGroup {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.ClassSelector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ButtonGroup {
    display: flex;
    padding: 10px 0;
    margin: 0 15px;
    justify-content: end;
}

.UsersDropdownContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    align-items: end;
}

.UsersDropdown {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 61.5%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #fff;
    overflow-y: auto;
    color: var(--dark-color-1);
}

.UsersDropdown .Item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 2px;
}

.UsersDropdown .Item:hover {
    background-color: #353434;
    color: #fff;
    cursor: pointer;
}

.Item .Name {
    font-size: large;
}

.Item .Email {
    font-size: small;
}

.MembersFinder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.MembersContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    overflow-x: scroll;
}

.Member {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 10%;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin: 5px;
}

.Member button {
    display: none;
}

.Member:hover button {
    display: block;
    background-color: rgb(255, 82, 82);
    height: 50%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
