.small-canvas {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 15rem;
    width: 15rem;
    pointer-events: none; /* Prevent interaction with the second canvas */
    border: 1px solid white;
}