.ProjectFormContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    left: 0;
    bottom: 0;
}

.ProjectForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
    background-color: #fff;
}

.FormGroup {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.ButtonGroup {
    display: flex;
    padding: 10px 0;
    margin: 0 15px;
    justify-content: end;
}

.MembersFinder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Member {
    display: flex;
    background-color: red;
}
