@import url('global.css');

.editor-section {
    padding: 5px 10px;
    border: 1px solid #e6e6e6;
}

.editor-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.entity-editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}