.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid theme(colors.blue);
  border-radius: 5px;
  background-color: theme(colors.dark-blue);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-input {
  color: #000;
}
