@tailwind base;

.navbar-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar {
  display: flex;
  margin: 0.5rem;
}

.navbar-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 6rem;
  text-align: center;
  background-color: theme(colors.blue);
  border: 1px solid rgb(0, 31, 168);
  border-radius: 5px;
  margin: 0 0.5rem;
  transition: background-color 0.2s;
}

.navbar-link:hover {
  background-color: theme(colors.dark-blue);
}

.title {
  font-family: "Arial";
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.33);
  background: linear-gradient(
    to right,
    theme(colors.light-blue),
    theme(colors.light-purple)
  );
  background-clip: text;
  cursor: pointer;
  -webkit-text-fill-color: transparent;
}

/* Responsive Design */
@media (max-width: 640px) {
  .title {
    display: none;
  }

  .navbar-container {
    justify-content: center;
  }

  .navbar-link {
    width: 4rem;
    font-size: 0.65rem;
    margin: 0 0.25rem;
  }
}
