@import url("global.css");

.profile-card {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--clear-color-2);
    color: var(--font-color);
    font-size: var(--font-size-1);
    padding: 0.2rem;
} 

.profile-btn:hover {
    background-color: var(--clear-color-3);
    border: 1px solid var(--clear-color-1);
    cursor: pointer;
}
