@import url('global.css');

.sidebar {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: calc(100vh - var(--nav-bar-height));
    overflow-y: auto;
    min-width: 200px;
    z-index: 100;

    /* bulrry background */
    backdrop-filter: blur(10px);
}