@import url('global.css');

.archetype-item {
    padding: 10px 10px;
    border: 1px solid #e6e6e6;
    background-color: var(--dark-color-1);
}

.archetype-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.archetype-item-selected {
    padding: 15px 15px;
    border: 1px solid #e6e6e6;
    background-color: var(--clear-color-3);
    transition: all 0.25s ease-out;
}

.archetype-item:hover {
    background-color: var(--clear-color-2);
    cursor: pointer;
}
