.archetype-item {
    padding: 10px 10px;
    border: 1px solid #e6e6e6;
}

.archetype-item-selected {
    padding: 15px 15px;
    border: 1px solid #e6e6e6;
    background-color: rgb(206, 206, 255);
    transition: all 0.25s ease-out;
}

.archetype-item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.archetype-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.archetype-item:hover .delete-archetype {
    display: block;
}

.archetype-item-selected .delete-archetype {
    display: block;
}

.delete-archetype {
    display: none;
    color: #ff0000;
    font-size: 15px;
    margin-left: 10px;
}