@import url('global.css');

.collapsable {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}
  
.collapsableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    background-color: var(--dark-color-2);
    
}

.collapsableTitle {
    font-size: 16px;
    font-weight: bold;
    color: var(--font-color);
}

.collapsableArrow {
    font-size: 14px;
    transition: transform 0.3s ease-in-out;
}

.collapsableArrow.collapsed {
    transform: rotate(-90deg);
}

.collapsableContent {
    background-color: #202020;
    max-height: 100%;
    overflow: hidden;
    /* transition */
    transition: max-height 0.5s ease-in-out;
}

.collapsableContent.collapsed {
    max-height: 0;
    padding: 0;
}