@import url('global.css');

.SeachBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 0.5rem ;
    margin-top: 1rem;
}

.Projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}