@import url("global.css");

.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    /* fade color */
    background: linear-gradient(90deg, var(--dark-color-2) 0%, var(--dark-color-1) 100%);
    color: var(--clear-color-1);
    font-weight: bold;
    font-size: var(--font-size-2);
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-bar-height);
    width: 100vw;
    padding: 0 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    pointer-events: auto;
}

.navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clear-color-2);
    border: 0.5px solid var(--primary-color-1);
    padding: 1rem;
    margin: 0.5rem;
    text-decoration: none;
    font-size: var(--font-size-1);
    width: 4rem;
    height: 0.5rem;
    color: var(--font-color);
    transition: 0.25s;
}

.navbar-link:hover {
    background-color: var(--clear-color-3);
    color: var(--clear-color-1);
    border: 0.5px solid var(--clear-color-1);
}